APP_ID=<your_app_id>
PUBLIC_KEY=<your_public_bot_key>
DISCORD_TOKEN=<your_disc_token>
#this values are only so youtube dont bitch about age verification
GOOGLE_USER=<google_user>
GOOGLE_PASS=<google_pass>
